.table {
  width: 100%;

  &__header {
    text-align: center;
  }
}

.buttons-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__btn {
    width: 90px;
    margin-right: 10px;
  }
}
